

@media screen and (max-width: 1060px){
  
      .container {
          width: 90%;
      }
      .half-container { 
          width: 80%;
          float: none;
          margin-left: auto;
          margin-right: auto;
    }
    .half-container2 { 
          width: 80%;
          float: none;
          margin-left: auto;
          margin-right: auto;
    }
      #title-page{ 
          width: 100%; 
          padding-top: 100px; 
    }
      #splash{
         height: 748px;
         background-size: 1496px;
    }
      ul#menu li a.button {
          padding: 20px 75px; 
    }
      iframe{
          width: 100%;
    }
      p {
        font-size: 1em;
      }
}


@media screen and (max-width: 767px){
      ul#menu li a.button {
          padding: 20px 32px;
    }
      img {
          width: 100%;
          height: auto;
    }
      #author img{
          width: 100px;
    }
      #title-page{ 
          width: 100%; 
          padding-top: 50px; 
    }
      #splash{
          height: 542px;
          background-size: 1084px;
    }
      #title-page h1 { 
          font-size: 60px; 
          text-shadow: 3px 3px #000; 
    } 
      #title-page h3 { 
          font-size: 30px; 
          margin: 0 40px; 
          text-shadow: 2px 2px #000; 
    } 
}


@media screen and (max-width: 480px){
      ul#menu li a.button {
          padding: 10px;
          font-size: .9em;
    }
      #title-page{ 
          width: 100%; 
          padding-top: 0px; 
    }
      #splash{
          height: 340px;
          background-size: 680px;
    }
      #title-page h1 { 
          font-size: 40px; 
          text-shadow: 3px 3px #000; 
    } 
      #title-page h3 { 
          font-size: 20px; 
          margin: 0 40px; 
          text-shadow: 2px 2px #000; 
    }
    .half-container table{
        font-size: .7em;
    }
    
}
@media screen and (max-width: 390px){
   .half-container table{
        font-size: .5em;
    } 
}